/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*.key
/.idea/
/storage/app/public/sounds/audio/
/storage/app/public/avatars/
/public/js/app.js
/storage/app/uploadScanFiles/
appcookies.txt
/storage/app/exportScanFiles/
